<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLib_MotionUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClassLib_MotionUI.Properties.Settings>
            <setting name="RingA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RingB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RingC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RingD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ring0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Back" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighLight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coaxial" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunSpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DebugSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="aaa" serializeAs="String">
                <value>0</value>
            </setting>
        </ClassLib_MotionUI.Properties.Settings>
    </userSettings>
</configuration>